#container {
	width: 70%;
	height: 650px;
	margin: 20px auto;
	/* box-shadow: 4px 4px 5px #888888; */
	margin-left: 30%;
	margin-top: -20%;
}

body {
	position: f;
	width: 900px;
	left: 50%;
	margin-left: -450px;
}

label
{
    display: block; /* La balise devient de type block. */
    width: 200px;
  	
    float: left;
}
.lesInput{
	margin-left: 201px;
}