#idConnexion{
	margin-top: -40%;
	margin-left: 40%;
}
body {
	position: static;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	
}
#idInscriptionUtilisateur{
	margin-top: -40%;
	margin-left: 40%;
}
#messageSucces{
	margin-top: -30%;
	margin-left: 40%;
}
<<<<<<< HEAD
#cham2{
	
	 margin-left: 250px;
}
=======

>>>>>>> 8c63594929b1919f5027131683e9315ed575f7f5
