#idConnexion{
	margin-top: -40%;
	margin-left: 40%;
}
body {
	position: static;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	
}
#idInscriptionUtilisateur{
	margin-top: -40%;
	margin-left: 40%;
}
#messageSucces{
	margin-top: -30%;
	margin-left: 40%;
}

