#container {
	width: 106%;
	height: 550px;
	margin: 20px auto;
	box-shadow: 1px 1px 10px #888;
}

body {
	position: absolute;
	width: 900px;
	left: 50%;
	margin-left: -450px;
}

/* #header {
	background-position: center;
	height: 40px;
	text-align: center;
	background-color: #525252;
	color: white;
} */
#pic1 {
	margin-left: 30%;
}

#content {
	margin-top: -140px;
}

#footer {
	margin-top: 32%;
}

#facebookTwiter {
	margin-left: 150px;
}

#recherched {
	margin-top: -21%;
	margin-left: 10%;
}

#ajouteClients {
	margin-left: 30%;
	margin-top: -11%;
	font-size: 30px;
}

#success {
	margin-left: 40%;
	margin-top: -15%;
}

#tabeRecherche {
	margin-left: 30%;
	margin-top: -13%;
}

/*  ici pour modifier connection, chercher client ansi de suite */
.rich-pmenu-item {
	font-style: normal;
	font-size: 11px;
}

.rich-pmenu {
	font-size: 40px;
}
/*pour les menu */
.rich-pmenu-group {
	font-size: 12px;
	font-style: normal;
}

.rich-ddmenu-label-select {
	
}
